<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.fos.client">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".payment.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_fos"
        android:roundIcon="@mipmap/ic_fos_round"
        android:label="FOS"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.kakao.sdk.AppKey" android:value="5d39ed00600fdfa99c5d5b7d30f2b3f3"/>

        <!-- common -->
        <activity android:name=".common.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".common.LoginActivity" />

        <!-- member -->
        <activity android:name=".member.FindId1Activity" />
        <activity android:name=".member.FindId2Activity" />
        <activity android:name=".member.FindPw1Activity" />
        <activity android:name=".member.FindPw2Activity" />
        <activity android:name=".member.FindPw3Activity" />
        <activity android:name=".member.JoinActivity" />
        <activity android:name=".member.JoinChoiceActivity" />
        <activity android:name=".member.MyInfoActivity" />
        <activity android:name=".member.UpdateActivity" />
        <activity android:name=".member.JoinEmailActivity"/>
        <!-- foodtruck -->
        <activity android:name=".foodtruck.BusinessStartActivity" >

        </activity>
        <activity android:name=".foodtruck.FoodtruckMainActivity" >
        </activity>
        <activity android:name=".foodtruck.LocationActivity" >

        </activity>
        <activity android:name=".foodtruck.RegisterActivity" >
        </activity>
        <activity android:name=".foodtruck.SearchResultActivity" >
        </activity>

        <!-- order -->
        <activity android:name=".order.BusinessDetailInquiryActivity" />
        <activity android:name=".order.BusinessInquiryActivity" />
        <activity android:name=".order.ChoiceActivity" >

        </activity>

        <activity android:name=".order.DetailInquiryActivity" />
        <activity android:name=".order.InquiryActivity" />
        <activity android:name=".order.NumberActivity" />


        <!-- basket -->
        <activity android:name=".basket.InquiryActivity"/>

        <!-- bookmark -->
        <activity android:name=".bookmark.InquiryActivity" />

        <!-- popup -->
        <activity android:name=".PopupActivity" android:theme="@android:style/Theme.Dialog" />

        <!-- payment -->
        <activity android:name=".payment.PaymentActivity" >

        </activity>
    </application>

</manifest>