<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.fos.client">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="front"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.kakao.sdk.AppKey" android:value="df9d5114ec22853d3a696d4ddfe1abd6"/>

        <!-- common -->
        <activity android:name=".common.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".common.LoginActivity" />

        <!-- member -->
        <activity android:name=".member.FindId1Activity" />
        <activity android:name=".member.FindId2Activity" />
        <activity android:name=".member.FindPw1Activity" />
        <activity android:name=".member.FindPw2Activity" />
        <activity android:name=".member.FindPw3Activity" />
        <activity android:name=".member.JoinActivity" />
        <activity android:name=".member.JoinChoiceActivity" />
        <activity android:name=".member.MyInfoActivity" />
        <activity android:name=".member.UpdateActivity" />

        <!-- foodtruck -->
        <activity android:name=".foodtruck.BusinessStartActivity" >

        </activity>
        <activity android:name=".foodtruck.FoodtruckMainActivity" >
        </activity>
        <activity android:name=".foodtruck.LocationActivity" >

        </activity>
        <activity android:name=".foodtruck.RegisterActivity" >
        </activity>
        <activity android:name=".foodtruck.SearchResultActivity" >
        </activity>

        <!-- menu -->
        <activity android:name=".menu.RegisterActivity" />
        <activity android:name=".menu.UpdateActivity" />

        <!-- order -->
        <activity android:name=".order.BusinessDetailInquiryActivity" />
        <activity android:name=".order.BusinessInquiryActivity" />
        <activity android:name=".order.ChoiceActivity" />
        <activity android:name=".order.DetailInquiryActivity" />
        <activity android:name=".order.InquiryActivity" />
        <activity android:name=".order.NumberActivity" />

        <!-- review -->
        <activity android:name=".review.registerActivity" />
        <activity android:name=".review.UpdateActivity" />

        <!-- sales -->
        <activity android:name=".sales.InquiryAcivity" />

        <!-- basket -->
        <activity android:name=".basket.InquiryActivity"/>

        <!-- bookmark -->
        <activity android:name=".bookmark.InquiryActivity" />
    </application>

</manifest>